body {
    margin: 0;
    padding: 0;
    background-color: #121212; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, nav {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #00bcd4; /* Azul confiante */
}

p {
    font-size: 1em;
    color: #b0b0b0;
    line-height: 1.6;
}

#NavBar {
    background-color: #000; /* Preto elegante */
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra sutil */
}

#NavBar-Itens {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.Links {
    text-decoration: none;
    color: #e0e0e0; /* Branco suave */
    font-size: 1.3em;
    font-weight: bold;
    transition: color 0.3s;
}

.Links:hover {
    color: #00bcd4; /* Destaque azul */
}

.Quadro-Principal {
    margin: auto;
    margin-top: 10em;
    background-color: #1e1e1e; /* Fundo cinza escuro */
    padding: 2em;
    width: 70em;
    max-width: 80%;
    border: 2px solid #333; /* Borda discreta */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra mais profunda */
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* Demais estilos permanecem com ajustes de cor para se adequar ao tema escuro */
